Repository Paultje52/vrc-patreon-link, pull requests merged in 2022-01, with the labels that each got.

#12 Improve documentation and prevent roles with similar names from causing false positives
  parser/Assets/BocuD/PatreonParser/PatreonDecoder.asset
  parser/Assets/BocuD/PatreonParser/PatreonDecoder.cs
Labels: bug, Parser

#17 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement

#18 Add proper custom inspector
  parser/Assets/BocuD/PatreonParser/PatreonDecoder.asset
  parser/Assets/BocuD/PatreonParser/PatreonDecoder.cs
Labels: enhancement, Parser

#13 Encoder: Jest testing
  .github/workflows/encoder-build-test.yml
  .github/workflows/encoder-test.yml
  encoder/package-lock.json
  encoder/package.json
  encoder/tests/ImageEncoder.test.js
  encoder/tests/Util.test.js
  encoder/tests/VrChat.test.js
  encoder/tests/__image_snapshots__/image-encoder-test-js-image-encoder-1-snap.png
  encoder/tests/upload-test-img.png
Labels: enhancement, Encoder

#23 [Feature]: Admin panel
  .github/workflows/encoder-test.yml
  encoder/.env.example
  encoder/src/discord/DiscordClient.ts
  encoder/src/index.ts
  encoder/src/patreon/Patron.ts
  encoder/src/patreon/PatronInviter.ts
  encoder/src/patreon/PatronUpdater.ts
  encoder/src/util/AdminPanel.ts
  encoder/src/util/Logger.ts
  encoder/src/util/buttons.ts
  encoder/src/util/checkEnvironmentVariables.ts
  encoder/src/util/messages.ts
  encoder/tests/Util.test.js
Labels: enhancement, Encoder
